@model IReadOnlyCollection<APP.Application.Identity.MenuItemDto>

@foreach (var item in Model)
{
    var hasChildren = item.Children != null && item.Children.Count > 0;
    var icon = item.Icon switch
    {
        "chart" => "bar-chart-2",
        "landmark" => "home",
        null or "" => "circle",
        _ => item.Icon
    };

    if (hasChildren)
    {
        <li class="sidebar-item">

            <a class="sidebar-link has-arrow"
                   href="javascript:void(0)"
                   aria-expanded="false"
                   data-menu-key="@item.Key">
                <i data-feather="@icon" class="feather feather-icon"></i>

                <span class="hide-menu">
                    @item.Text
                </span>
            </a>

            <ul aria-expanded="false"
                class="collapse first-level base-level-line">

                @await Html.PartialAsync("_SidebarMenu", item.Children)

            </ul>

        </li>
    }
    else
    {
        <li class="sidebar-item">

            <a class="sidebar-link"
                   href="@item.Url"
                   data-spa-link
                   data-permission="@item.Permission"
                   data-menu-key="@item.Key">

                <i data-feather="@icon" class="feather feather-icon"></i>
                <span class="hide-menu">
                    @item.Text
                </span>
            </a>

        </li>
    }
}